<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" title="SIG-Game" class="navbar-brand" rel="home">
        <img src="{{ site.static_url }}img/brand.svg" alt="SIG-Game" class="img-responsive" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://blog.megaminerai.com">Blog</a>
        </li>

        <li class="{% if page.navbar == "docs" %}active{% endif %}">
          <a href="/">Documentation</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://megaminerai.com" class="btn-info">MegaMinerAI <i class="fa fa-arrow-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
